#contenedor_perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

header {
    align-self: flex-start;
}

h2 {
    background-color: rgb(151, 34, 34);
    padding: 5px;
    margin: 0;
    margin-bottom: 10px;
    border-radius: 5px;
}

#span_perfil {
    border: 3px solid rgb(0, 130, 255);
    background-color: rgb(151, 34, 34);
    border-radius: 5%;
    margin: 3px;
    padding: 5px;
    cursor: pointer;
}

#div_datos {
    display: flex;
    flex-direction: column;
    border: 6px solid rgb(0, 130, 255);
    background-color:rgb(32, 35, 70);
    border-radius: 1%;
    margin: 20px;
    margin-top: 0px;
    padding: 15px;
}

#div_facturacion {
    display: flex;
    flex-direction: column;
    border: 6px solid rgb(0, 130, 255);
    background-color: rgb(32, 35, 70);
    border-radius: 1%;
    margin: 20px;
    padding: 15px;
}

.opciones_vivienda {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 144px;
}

#div_tarjeta {
    display: flex;
    flex-direction: column;
    border: 6px solid rgb(0, 130, 255);
    background-color:rgb(32, 35, 70);
    border-radius: 1%;
    margin: 20px;
    padding: 15px;
}

#div_guardarVolver {
    display: flex;
    align-items: center;
    justify-content: center;
}

#div_recibos {
    display: flex;
    justify-content: space-around;
    border: 2px solid rgb(0, 130, 255);
    background-color:rgb(32, 35, 70);
    border-radius: 1%;
    margin: 6px;
    margin-top: 20px;
    padding: 0px;
    height: 60px;
}

#recibos {
    display: flex;
    align-items: center;
    margin: 0px;
}

#ultimos-mov {
    display: flex;
    align-items: center;
    margin: 0px;
}

body {
    padding: 20px;
    padding-top: 0px;
    justify-content: center;
}

main {
    width: 400px;
}

.boton-menu-perfil {
    width: 130px;
    height: 50px;
    border-radius: 5px;
    color:white;
    background-color: rgb(151, 34, 34);
    margin: 5px;
    border-style: hidden;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    margin: 8px;
    height: 60px;
}

.boton-footer {
    width: 50%;
}

.boton-footer>p {
    width: 95%;
}
