body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 20px;
    padding-top: 0px;
    justify-content: center;
}

/*ESTILOS MENU*/
header {
    display: flex;
    align-self: flex-start;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 10px;
    margin-top: 10px;
    background-color: rgb(32, 35, 70);
    border-radius: 8px;
}

#span_perfil {
    border: 3px solid rgb(0, 130, 255);
    background-color: rgb(151, 34, 34);
    border-radius: 5%;
    margin: 3px;
    padding: 5px;
    cursor: pointer;
}

#menu-perfil {
    display: flex;
    flex-direction: row;
    justify-content:right;
}

#menu-perfil>a {
    width: auto;
    height: auto;
    color:white;
    background-color: rgb(151, 34, 34);
    border: 3px solid rgb(0, 130, 255);
    border-radius: 5%;
    cursor: pointer;
    padding: 7px;
    margin: 10px;
    text-decoration: none;
}

/*ESTILOS FORMULARIOS*/
main {
    width: 40%;
}

h2 {
    background-color: rgb(151, 34, 34);
    padding: 5px;
    margin: 0;
    margin-bottom: 10px;
    border-radius: 5px;
}

legend {
    display: flex;
    align-items: center;
    padding: 4px;
}

#div_datos {
    display: flex;
    flex-direction: column;
    border: 6px solid rgb(0, 130, 255);
    background-color:rgb(32, 35, 70);
    border-radius: 1%;
    margin: 20px;
    padding: 15px;
}

#div_facturacion {
    display: flex;
    flex-direction: column;
    border: 6px solid rgb(0, 130, 255);
    background-color: rgb(32, 35, 70);
    border-radius: 1%;
    margin: 20px;
    padding: 15px;
}

.opciones_vivienda {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 144px;
    margin-left: 14px;
}

#div_tarjeta {
    display: flex;
    flex-direction: column;
    border: 6px solid rgb(0, 130, 255);
    background-color:rgb(32, 35, 70);
    border-radius: 1%;
    margin: 20px;
    padding: 15px;
}

#div_guardarVolver {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton-menu-perfil {
    width: 130px;
    height: 50px;
    border-radius: 5px;
    color:white;
    background-color: rgb(151, 34, 34);
    margin: 5px;
    border-style: hidden;
    cursor: pointer;
}

#div_recibos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 2px solid rgb(0, 130, 255);
    background-color:rgb(32, 35, 70);
    border-radius: 1%;
    margin: 7px;
    margin-top: 20px;
    padding: 0px;
    height: 70px;
}

.recibos {
    display: flex;
    align-items: center;
    margin: 0px;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    margin: 8px;
    height: 60px;
}

.boton-footer {
    width: 50%;
}

.boton-footer>p {
    width: 95%;
}


@media (max-width: 848px) {
    main {
        width: 310px;
    }

    #menu-perfil {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}